@import url('https://fonts.googleapis.com/css?family=Poppins:900i');
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --orangered: #E63429;
    --lightorange: #FD9C33;
}


body {
  overflow-y: hidden; /* Hide vertical scrollbar */
  overflow-x: hidden; /* Hide horizontal scrollbar */
}

.trainer_area {
    display: grid;
    grid-template-rows: 1fr 1.45fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 0.7fr 0.67fr 0.67fr 0.67fr;
    background-image: url('MathTeamTrainer.png');
    height: 43vw;
    padding-top: 0;
    background-size: cover;
}

.problem_type_title {
    grid-area: 1 / 1 / 1 / 3;
    font-family: 'Kumbh Sans', sans-serif;
    font-weight: 600;
    align-self: center;
    justify-self: center;
    font-size: 3rem;
    color: white;
    margin-left: 5rem;
}

.home_button_area {
    grid-area: 1 / 4 / 1 / 6;
    align-self: center;
    justify-self: center;
}

.image_area {
    grid-area: 3 / 1 / 6 / 3;
    align-self: center;
    justify-self: center;
    margin-top: 5rem;
    height: 90%;
}

.problem_text_area {
    grid-area: 2 / 1 / 3 / 6;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 400;
    font-size: 1.4rem;
    align-self: center;
    justify-self: center;
    text-align: center;
    margin-left: 2rem;
    margin-right: 3rem;
    line-height: 2.5rem;
}

.answer_area {
    grid-area: 3 / 3 / 4 / 6;
    color: #EE6C4D;
    font-size: 3rem;
    font-family: 'Kumbh Sans', sans-serif;
    justify-self: center;
    align-self: center;
}

.submit_button_area {
    grid-area: 4 / 3 / 5 / 4;
    justify-self: right;
    align-self: center;
}

.refresh_button_area {
    grid-area: 4 / 4 / 5 / 5;
    align-self: center;
    justify-self: center;
}

.see_answer_area {
    grid-area: 4 / 5 / 5 / 6;
    align-self: center;
}

.result_area {
    grid-area: 5 / 3 / 6 / 6;
    font-family: 'Poppins', sans-serif;
    align-self: center;
    justify-self: center;
    font-size: 2rem;
    color: black;
}


.problem_image {
    width: 20rem;
}

.answer_input {
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 2rem;
    font-weight: 500;
    color: black;
    border-color: black;
    border-width: 0.2rem;
    width: 14rem;
    border-style: solid;
    padding-left: 0.3rem;
}


.home_button {
    background-color: transparent;
    border: none;
    padding: 0;
}

.home_button a {
    color: white;
}

.home_button a:visited {
    color: white;
}

.home_button a:hover{
    color: antiquewhite;
}


.container {
  width: 100%;
  height: 100%;
  display: flex;
  position: fixed;
  flex-flow: column;
  overflow: auto;
  top: 0;
  left: 0;
  padding: 16px 24px;
  font-family: 'Kumbh Sans', sans-serif;
}
h1 {
  display: inline-block;
  position: relative;
  margin: 2.5rem 0.5rem 0.5rem 50px;
  background: #fafbff;
  font-size: 2rem;
  font-weight: bold;
  padding: 10px 20px;
  font-family: 'Kumbh Sans', sans-serif;
}
h1::before {
  width: calc(100% + 120px);
  height: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #000;
  content: "";
  z-index: -1;
}
.click-btn {
  display: flex;
  width: 120px;
  height: 40px;
  justify-content: center;
  align-items: center;
  margin: 0.5rem;
  border: 2px solid;
  border-radius: 15px;
  text-align: center;
  font-size: 16px;
  color: #000;
  text-decoration: none;
  transition: all 0.35s;
  box-sizing: border-box;
  padding: 1.5rem 3rem;
}
.buttons-wrapper {
  display: flex;
  flex-wrap: wrap;
}
.btn-style2 {
  border-color: #F36836;
  color: #F36836;
  font-family: 'Kumbh Sans', sans-serif;
  font-weight: 700;
}
.btn-style2:hover {
  box-shadow: 0 0.3em 0.5em -0.1em var(--orangered);
  transform: translateY(-0.25em);
  border-color: var(--orangered);
  color: var(--orangered);
}


